<!DOCTYPE html>
<html>
<head>
  <base href="/" />
  <title>Vinder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <%= image_tag('wine.png') %>
          <h1>Vinder</h1>
        </a>
      </div>
      <div id="myNavbar">
        <ul class="nav navbar-nav">
          <%- if current_user -%>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <li><a href="/user_wines">Personal List</a></li>
            <li><a href="/scores">Global Wine Score</a></li>
            <li><a href="/comparison">Global Comparison</a></li>
            <li><a href="/search">Pairings</a></li>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
            <li><a href="/scores">Global Wine Score</a></li>
            <li><a href="/comparison">Global Comparison</a></li>
            <li><a href="/search">Pairings</a></li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
